body {background-color: black;}

.toolbar {
    background-color: #C2185B;
    width: 100%;
    height: 60px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

nav li {
    float: left;
    margin-left: 35px;
    
    position: relative;
}

.menu a {
    color: white;
    text-transform: uppercase;
    font-size: 20px;
    text-decoration: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.menu a:hover {
    color: pink;
}

nav a::before {
    content: '';
    display: block;
    height: 5px;
    margin-top: 30px;
    background-color: white;
    position: absolute;
    top: 0;
    width: 0%;
    transition: all ease-in-out 100ms;
}

nav a:hover::before {
    width: 100%;
}

.menu button {
    color: white;
    background-color: #C2185B;
    border: none;
    float: left;
    margin-right: 10px;
    font-size: 22px;
    cursor: pointer;
}

.toolbar2 {
    background-color: #212121;
    color: white;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 10px;
    font-size: 22px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.cards li {
    background-color: #424242;
    color: white;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    padding: 5px 5px 5px 5px;
    border-radius: 4px;
}

/* .div-alinhar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
} */

.card-menu {
    width: 20%;
    margin-left: 10px;
    margin-bottom: 20px;
    text-align: center;
    display: inline-block;
    cursor: pointer;
}

.img-icon {
    width: 60%;
    display: block;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
}

.card-menu h1 {
    font-size: 26px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.card-menu h3 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.logo {
    float: left;
    margin-right: 85px;
    width: 10%;
    cursor: pointer;
}

header::after {
    content: '';
    display: table;
    clear: both;
}